<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        #articles {
            margin-left: 30px;
            margin-top: 20px;
        }

        a {
            text-decoration: none;
            color: black;
        }
    </style>
    <title>Flask+スクレイピングで記事一覧画面を作ろう</title>
</head>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>